<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.becomejavasenior"/>
    <context:annotation-config/>


    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="initialSize" value="3" />
        <property name="maxActive" value="5" />
        <property name="defaultAutoCommit" value="false" />
    </bean>


    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataFactory" class="org.fluttercode.datafactory.impl.DataFactory" />

    <bean id="dataCreator" class="com.becomejavasenior.model.DataCreator">
        <constructor-arg ref="dataFactory" />
    </bean>

    <bean id="userDao" class="com.becomejavasenior.dao.UserDaoJdbc">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="productDao" class="com.becomejavasenior.dao.ProductDaoJdbc">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="orderDao" class="com.becomejavasenior.dao.OrderDaoJdbc">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="transactionalMethods" class="com.becomejavasenior.service.TransactionalMethods">
        <constructor-arg ref="orderDao" />
        <constructor-arg ref="productDao" />
        <constructor-arg ref="userDao"/>
    </bean>
    <bean id="nonTransactionalMethods" class="com.becomejavasenior.service.NonTransactionalMethods">
        <constructor-arg ref="orderDao" />
        <constructor-arg ref="productDao" />
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="productService" class="com.becomejavasenior.service.general.GeneralServiceImpl">
        <property name="genericDao" ref="productDao"/>
    </bean>
    <bean id="orderService" class="com.becomejavasenior.service.general.GeneralServiceImpl">
        <property name="genericDao" ref="orderDao"/>
    </bean>
    <bean id="userService" class="com.becomejavasenior.service.general.GeneralServiceImpl">
        <property name="genericDao" ref="userDao"/>
    </bean>
    <bean id="productTransService" class="com.becomejavasenior.service.general.GeneralServiceTransImpl">
        <property name="genericDao" ref="productDao"/>
    </bean>
    <bean id="orderTransService" class="com.becomejavasenior.service.general.GeneralServiceTransImpl">
        <property name="genericDao" ref="orderDao"/>
    </bean>
    <bean id="userTransService" class="com.becomejavasenior.service.general.GeneralServiceTransImpl">
        <property name="genericDao" ref="userDao"/>
    </bean>
</beans>